.responsive-container {
  width: 100%;
  height: 275px;
  display: flex;
  height: 275px;
}

@media screen and (min-width: 576px) {
  .responsive-container {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-container {
    height: 500px;
  }
}

.like-icon {
  font-size: 20px;
  margin-right: -6px;
}
